/* Chrome, Safari, Edge, Opera */
.numberinput::-webkit-outer-spin-button,
.numberinput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.numberinput[type=number] {
    -moz-appearance:textfield;
}