AddDefaultCharset UTF-8
FileETag None

Options +FollowSymLinks -MultiViews
# Turn mod_rewrite on
RewriteEngine On
RewriteBase /

# Category
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=categories&category=([^\s&]+) [NC]
RewriteRule ^ categories/%1? [R=301,L]
RewriteRule ^categories/([0-9]+)/?$ index.php?page=categories&category=$1 [L,QSA]

# Category home
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=categories [NC]
RewriteRule ^ categories [R=301,L]
RewriteRule ^categories index.php?page=categories [L,QSA]

# Product
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=products&product=([^\s&]+) [NC]
RewriteRule ^products/%1? [R=301,L]
RewriteRule ^products/([0-9]+)/?$ index.php?page=products&product=$1 [L,QSA]

# Search page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=search&search=([^\s&]+) [NC]
RewriteRule ^search/%1? [R=301,L]
RewriteRule ^search/([^/]+)/?$ index.php?page=search&search=$1 [L,QSA]

# Shopping cart add amount page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=shoppingcart&action=addAmount [NC]
RewriteRule ^shoppingcart/addAmount [R=301,L]
RewriteRule ^shoppingcart/addAmount index.php?page=shoppingcart&action=addAmount [L,QSA]

# Shopping cart remove amount page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=shoppingcart&action=removeAmount [NC]
RewriteRule ^shoppingcart/removeAmount [R=301,L]
RewriteRule ^shoppingcart/removeAmount index.php?page=shoppingcart&action=removeAmount [L,QSA]

# Shopping cart add page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=shoppingcart&action=add [NC]
RewriteRule ^shoppingcart/add [R=301,L]
RewriteRule ^shoppingcart/add index.php?page=shoppingcart&action=add [L,QSA]

# Shopping cart delete page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=shoppingcart&action=delete [NC]
RewriteRule ^shoppingcart/delete [R=301,L]
RewriteRule ^shoppingcart/delete index.php?page=shoppingcart&action=delete [L,QSA]

# Shopping cart page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=shoppingcart [NC]
RewriteRule ^shoppingcart [R=301,L]
RewriteRule ^shoppingcart index.php?page=shoppingcart [L,QSA]

# Product edit page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=editProduct&product=([^\s&]+)& [NC]
RewriteRule ^products/%1?/edit [R=301,L]
RewriteRule ^products/([0-9]+)/?/edit$ index.php?page=editProduct&product=$1 [L,QSA]

# Login page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=login [NC]
RewriteRule ^login [R=301,L]
RewriteRule ^login index.php?page=login [L,QSA]

# Register page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=register [NC]
RewriteRule ^register [R=301,L]
RewriteRule ^register index.php?page=register [L,QSA]

# Register page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=profile [NC]
RewriteRule ^profile [R=301,L]
RewriteRule ^profile index.php?page=profile [L,QSA]

# Logout page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=logout [NC]
RewriteRule ^logout [R=301,L]
RewriteRule ^logout index.php?page=logout [L,QSA]

#checkout
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+index\.php\?page=checkout [NC]
RewriteRule ^checkout [R=301,L]
RewriteRule ^checkout index.php?page=checkout [L,QSA]
